.git
.idea
proofs
src
target/*.jar.original
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/failsafe-reports
target/test-classes
